In [1]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in /opt/conda/lib/python3.10/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.9)
Requirement already satisfied: pymysql in /opt/conda/lib/python3.10/site-packages (1.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Gantilah dengan URL koneksi yang sesuai
DATABASE_URL = "mysql+pymysql://root:ajinusa@ajinusa-mysql-container:3306/de8_final_project"

# Membuat engine untuk koneksi
engine = create_engine(DATABASE_URL)

# Menjalankan query untuk mengambil data dari tabel
try:
    # Koneksi dan query
    with engine.connect() as connection:
        print("Koneksi ke MySQL berhasil!")
        
        # Misalnya kita ingin mengambil data dari tabel 'your_table_name'
        query = "SELECT * FROM carmudi_data"  # Ganti dengan nama tabel kamu
        
        # Menjalankan query dan mengubahnya ke dalam DataFrame
        df = pd.read_sql(query, connection)
        
        # Tampilkan DataFrame
        df.head()  # Mengambil beberapa baris pertama dari DataFrame untuk ditampilkan

except Exception as e:
    print("Error koneksi:", e)

Error koneksi: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'ajinusa-mysql-container' ([Errno -2] Name or service not known)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [4]:
!pip show pymysql sqlalchemy

Name: PyMySQL
Version: 1.1.1
Summary: Pure Python MySQL Driver
Home-page:
Author:
Author-email: Inada Naoki <songofacandy@gmail.com>, Yutaka Matsubara <yutaka.matsubara@gmail.com>
License: MIT License
Location: /opt/conda/lib/python3.10/site-packages
Requires:
Required-by:
---
Name: SQLAlchemy
Version: 2.0.9
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: /opt/conda/lib/python3.10/site-packages
Requires: greenlet, typing-extensions
Required-by: alembic, jupyterhub

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Gantilah dengan URL koneksi yang sesuai
# DATABASE_URL = "mysql+pymysql://root:ajinusa@localhost:3306/de8_final_project"
DATABASE_URL = "mysql+pymysql://root:ajinusa@127.0.0.1:3306/de8_final_project"


# Membuat engine untuk koneksi
engine = create_engine(DATABASE_URL)

# Menjalankan query untuk mengambil data dari tabel
try:
    with engine.connect() as connection:
        print("Koneksi ke MySQL berhasil!")
        
        # Misalnya kita ingin mengambil data dari tabel 'your_table_name'
        query = "SELECT * FROM carmudi_data"  # Ganti dengan nama tabel kamu
        
        # Menjalankan query dan mengubahnya ke dalam DataFrame
        df = pd.read_sql(query, connection)
        
        # Tampilkan DataFrame
        print(df.head())

except Exception as e:
    print("Error koneksi:", e)

Error koneksi: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '127.0.0.1' ([Errno 111] Connection refused)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [6]:
!mysql -u root -p -h 127.0.0.1 -P 3306

/bin/bash: line 1: mysql: command not found

In [7]:
!mysql -u root -p -h localhost -P 3306

/bin/bash: line 1: mysql: command not found